@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

html,
body {
   height: 100vh;
   width: 100vw;
   /* overflow-y: hidden; */
   font-size: 12px;
   background-image: linear-gradient(
      hsl(273, 75%, 66%),
      hsl(240, 73%, 65%)
   );
   font-family: "Kumbh Sans", sans-serif;
}
/* 894px */
main {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   height: 500px;
   width: 900px;
   border-radius: 2rem;
   background-color: white;
   display: flex;
   font-size: 1.2rem;
   box-shadow: 0.1rem 0.6rem 2rem rgba(0, 0, 0, 0.4);
}

.box {
   width: 50%;
   height: 100%;
}

.box-image {
   position: relative;
}
.image-bg {
   position: absolute;
   overflow: hidden;
   width: 100%;
   height: 100%;
   left: 0%;
}
.image-bg div {
   width: 85%;
   height: 100%;
   position: absolute;
   background-image: url("./images/bg-pattern-desktop.svg");
   background-size: cover;
   background-position-x: right;
}

.img1 {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: absolute;
}
.img1 div {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 10%;
   left: -15%;
   background-repeat: no-repeat;
   background-image: url("./images/illustration-woman-online-desktop.svg");
   background-size: contain;
   /* overflow: hidden; */
}

.img2 {
   position: absolute;
   top: 39%;
   width: 30%;
   height: 30%;
   left: -18%;
   z-index: 1000;
   background-image: url("./images/illustration-box-desktop.svg");
   background-size: cover;
}

.img-mobile {
   display: none;
}

.box-text {
   box-sizing: border-box;
   padding-top: 2rem;
   padding-right: 3rem;
   /* border: 1px double black; */
   overflow-y: auto;
}

.box-text > div {
   padding: 2rem 0;
   border-bottom: 4px solid hsl(240, 5%, 91%);
}
.box-text p {
   /* display: none; */
   font-weight: 400;
   color: hsl(238, 29%, 16%);
}
.box-text h1 {
   margin: 3rem 0;
   font-weight: 700;
}

.question {
   display: flex;
   justify-content: space-between;
   transition: color 0.2s ease-out;
   cursor: pointer;
}

.question:hover {
   color: hsl(14, 88%, 65%);
}

.question div {
   font-weight: 700;
   font-size: 1.2rem;
}

/* *footer */
.attribution {
   height: 7%;
   font-size: 11px;
   text-align: center;
   border: 2px solid black;
   display: none;
}
.attribution a {
   color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 895px) {
   html,body{
      height: 1000px;
      max-height: 1200px;
   }
   main{
      overflow-y: auto;
   }
   .container {
      margin-top: 5rem;
      flex-direction: column;
      width: 90%;
      min-width: 375px;
      height: 700px;
   }
   .box {
      width: 100%;
   }
   .box-image {
      height: 35%;
      width: 100%;
      position: relative;
   }
   .box-image * {
      display: none;
   }
   .img-mobile {
      position: absolute;
      top: -85%;
      display: flex;
      width: 100%;
      height: 160%;
      /* border: 1px solid peru; */
      background-image: url("./images/illustration-woman-online-mobile.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
   }
   .box-text{
   margin: 0;
   padding: 0 10%;
   }
   .box-text h1 {
      margin-top: 0;
   }
   .box-text> div{
      padding: 1.3rem;
   }
}
